.choices img {
	width: 200px;
	opacity: 0.3;
	cursor: pointer;
	transition: 1s all ease;
}

.choices img:hover {
	opacity: 1;
}

#pictures {
	top: 40%;
	margin-top: 50px;
	margin-left: 5%;
	margin-right: 5%;
}


body {
	background-color: black;
	font-family: 'geometria_lightlight'; 
	color: white;
}

h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
}

@font-face {
    font-family: 'geometria_lightlight';
    src: url('../fonts/Geometria-Light-webfont.eot');
    src: url('../fonts/Geometria-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Light-webfont.woff') format('woff'),
         url('../fonts/Geometria-Light-webfont.ttf') format('truetype'),
         url('../fonts/Geometria-Light-webfont.svg#geometria_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

#results {
    list-style: none;
    }

#results li {
	opacity: 0.6;
    background: #999;
    color: #fff;
    font-size: 24px;
    border-radius: 8px;
    padding: 5px;
    width: 80%;
    margin-bottom: 10px;
    display: none;
}